
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form id="LoginForm" method="post">
    <input type="email" name="email" placeholder="Email..." />
    <input type="password" name="password" placeholder="Password..." />
    <input type="text" name="code" placeholder="Code..." />
    <input type="submit" value="Login" />
</form>
