body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Login Form */
#LoginForm label {
    display: block;
    margin: 8px;
}

#LoginForm input[type=text], input[type=password], input[type=email], input[type=date], select, textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#LoginForm option {
    padding: 6px;
}

#LoginForm input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#LoginForm input[type=reset] {
    width: 50%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#LoginForm input[type=submit]:hover {
    background-color: #45a049;
}

#LoginForm input[type=reset]:hover {
    background-color: darkred;
}

#LoginForm div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}