
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form id="LoginForm" method="post">
    <input type="email" name="email" placeholder="Email..." />
    <input type="password" name="password" placeholder="Password..." />
    <br />
    <label >Stay logged in: </label>
    <input type="checkbox" name="stayLogged" />
    <br />
    <input type="submit" value="Login" />
</form>



